@model PostViewModel

<div class="row">
    <div class="col-lg-8">
        <div class="bg-white p-4 shadow-sm rounded">
            <h1 class="h4 mb-4">Popular Posts</h1>

            @foreach (var post in Model.Posts)
            {
                <div class="card bg-transparent border-0 mb-3">
                    <div class="row g-0">
                        @* g-0: Görsel ve metin arasındaki boşluğu optimize eder *@
                        <div class="col-4">
                            <img src="~/img/@post.Image" class="img-fluid rounded" alt="@post.Title">
                        </div>
                        <div class="col-8 ps-3">
                            @* ps-3: Metni görselden biraz uzaklaştırır *@
                            <h5>
                                <a href="/posts/details/@post.Url"
                                   class="text-decoration-none text-dark">
                                    @post.Title
                                </a>
                            </h5>
                            <p class="text-muted small">@post.Description</p>
                      
                        </div>
                    </div>
                </div>
                <hr class="my-3">
            }

            <nav class="mt-4">
                <ul class="pagination">
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="col-lg-4">
        <vc:tags-menu></vc:tags-menu>
        <vc:new-posts></vc:new-posts>

      
    </div>
</div>