@page "{id:int}"
@model EditModel
@{
    ViewData["Title"] = "Edit Employee";
}

<h1 class="mb-4">Edit Employee</h1>

<form method="post">
    <input type="hidden" asp-for="Employee.Id">

    <div class="row mb-3">
        <label asp-for="Employee.Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Employee.Name">
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="Employee.Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Employee.Email">
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="Employee.Photo" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Employee.Photo">
        </div>
    </div>

    <div class="row mb-3">
        <label asp-for="Employee.Department" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Employee.Department">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-page="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</form>